[Desktop Entry]
Name=Jarvis AI
Comment=Launch Jarvis Assistant
Exec=/home/pi/jarvis-pi-setup/run.sh
Icon=/home/pi/jarvis-pi-setup/jarvis-icon.png
Terminal=false
Type=Application
Categories=Utility;
